.gradient-text-1 {
    background: linear-gradient(91.22deg, #A1B4F2 0%, #5F65E3 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-2{
    background: linear-gradient(91.2deg, #FFF29F 0%, #FFA52C 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-3{
    background: linear-gradient(91.08deg, #E99FF2 0%, #C85FE3 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-table {
    background: linear-gradient(88.05deg, #FA5CFA 0%, #6F5CFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
