.mobile-nav {
  display: flex;
  align-items: center;

  @media (max-width: 1279px) {
    align-items: stretch;
    position: fixed;
    inset: 80px 0 0 0;
    flex-direction: column;
    background-color: var(--color-primary-main) !important;
    border-bottom: 1px solid silver;
    z-index: 999;
    transition: all 0.3s;

    > a {
      padding: 12px 0px;
      border-bottom: 1px solid #dedede;
    }
  }

  @media (min-width: 1280px) {
    display: flex !important;
  }
}

.hamburger-icon {
  color: #fff !important;
  @media (min-width: 1280px) {
    display: none !important;
  }
}
